@import 'tailwindcss';

body{
  background-color: beige;
  justify-content: center;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px 20px;
  border-bottom: yellow 5px solid;
  
}